@*@using asp_pract.Service*@
@using asp_pract.Domain.Entities
@model IQueryable<NewsItem>

<title>@Config.CompanyName</title>
<div>
    <h1>News page index</h1>
    <section class="stick-right">
        <h2>Останні новини</h2>
        <ul class="small-image-list">
            @foreach (NewsItem entity in Model)
            {
                @if(entity.UprovedByAdmin)
                { 
            <li>
                <a asp-area="" asp-controller="News" asp-action="Show" asp-route-id="@entity.Id">
                    <img src="~/images/@entity.TitleImagePath" alt="" class="left" />
                </a>
                <h4>@entity.Title</h4>
                <p>@entity.Subtitle</p>
                <br />
                @Html.Raw(entity.Text)
            </li>
                }
            }
        </ul>
    </section>
</div>